@namespace Exentials.MdcBlazor
@inherits MdcButtonComponentBase
<button @ref="Ref" id="@Id" class="mdc-button @CssAttributes" aria-describedby="@TooltipId">
    <div class="mdc-button__ripple"></div>
    @if ((Icon != null) & !TrailingIcon)
    {
    <i class="@MdcCss.MaterialIcons mdc-button__icon" aria-hidden="true">@Icon</i>
    }
    @if (Label != null)
    {
    <span class="mdc-button__label">@Label</span>
    }
    @if ((Icon != null) & TrailingIcon)
    {
    <i class="@MdcCss.MaterialIcons mdc-button__icon" aria-hidden="true">@Icon</i>
    }
    @if (Touchable)
    {
    <div class="mdc-button__touch"></div>
    }
</button>