@namespace Exentials.MdcBlazor
@inherits MdcButtonComponentBase
<button class="mdc-icon-button @MdcCss.MaterialIcons @CssAttributes" aria-label="@Label" title="@Title" disabled="@Disabled" @onclick="ClickHandler">@Icon</button>