@namespace Exentials.MdcBlazor
@inherits MdcButtonComponentBase
<button @ref="Ref" class="mdc-icon-button @CssAttributes" aria-pressed="@Selected" aria-label="@Label" title="@Title">
    <i class="@MdcCss.MaterialIcons mdc-icon-button__icon mdc-icon-button__icon--on">@ToggleIcon</i>
    <i class="@MdcCss.MaterialIcons mdc-icon-button__icon">@Icon</i>
</button>