@namespace Exentials.MdcBlazor
@inherits MdcButtonComponentBase
<button @ref="Ref" class="@MdcCss.MaterialIcons mdc-icon-button @CssAttributes" aria-hidden="true" aria-label="@Label" title="@Title">@Icon</button>