@namespace Exentials.MdcBlazor
@inherits MdcInputTextComponentBase
<label @ref="Ref" class="mdc-text-field @CssAttributes">
    @if (Outlined)
    {
    <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
            @if (!NoLabel)
                {
            <span class="mdc-floating-label" id="@LabelId">@Label</span>
            }
        </span>
        <span class="mdc-notched-outline__trailing"></span>
    </span>
    @if (!string.IsNullOrEmpty(LeadingIcon))
    {
    <i class="@MdcCss.MaterialIcons mdc-text-field__icon mdc-text-field__icon--leading" aria-hidden="true" tabindex="0" role="button">@LeadingIcon</i>
    }
    }
    else
    {
    <span class="mdc-text-field__ripple"></span>
    @if (!string.IsNullOrEmpty(LeadingIcon))
    {
    <i class="@MdcCss.MaterialIcons mdc-text-field__icon mdc-text-field__icon--leading" aria-hidden="true" tabindex="0" role="button">@LeadingIcon</i>
    }
    @if (!NoLabel)
        {
    <span class="mdc-floating-label" id="@LabelId">@Label</span>
    }
    }
    @if (!string.IsNullOrEmpty(Prefix))
    {
    <span class="mdc-text-field__affix mdc-text-field__affix--prefix">@Prefix</span>
    }
    <input class="mdc-text-field__input" type="text"
    aria-labelledby="@(NoLabel? null: LabelId)"
    aria-controls="@HelperId"
    aria-describedby="@HelperId"
    required="@Required"
    maxlength="@Maxlength" />
    @if (!string.IsNullOrEmpty(Suffix))
    {
    <span class="mdc-text-field__affix mdc-text-field__affix--suffix">@Suffix</span>
    }
    @if (!string.IsNullOrEmpty(TrailingIcon)){
    <i class="@MdcCss.MaterialIcons mdc-text-field__icon mdc-text-field__icon--trailing" aria-hidden="true" tabindex="0" role="button">@TrailingIcon</i>
    }
    @if (ShowCounter)
    {
    <span class="mdc-text-field-character-counter"></span>
    }
    @if (!Outlined)
    {
    <span class="mdc-line-ripple"></span>
    }
</label>
@if (HelperType != MdcTextFieldHelperType.None)
{
<div class="mdc-text-field-helper-line">
    <div id="@HelperId" class="mdc-text-field-helper-text @CssHelperAttributes">@HelperMessage</div>
</div>
}