@namespace Exentials.MdcBlazor
@inherits MdcInputTextComponentBase
@if (!Outlined)
{
<label @ref="Ref" class="mdc-text-field mdc-text-field--filled @CssAttributes">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" id="@Id">@Label</span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="@Id" disabled="@Disabled" />
    <span class="mdc-line-ripple"></span>
</label>
}
else
{
<label @ref="Ref" class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--no-label @CssAttributes">
    <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__trailing"></span>
    </span>
    @if (Resizable)
    {
    <span class="mdc-text-field__resizer">
        <textarea class="mdc-text-field__input" rows="8" cols="40" aria-label="@Label" disabled="@Disabled"></textarea>
    </span>
    }
    else
    {
    <textarea class="mdc-text-field__input" rows="8" cols="40" aria-label="@Label" disabled="@Disabled"></textarea>
    }
</label>
}