@namespace Exentials.MdcBlazor
@typeparam TValue
@inherits MdcInputComponentBase<TValue>
<MdcFormField @ref="FormField" AlignEnd="@AlignEnd" NoWrap="@NoWrap" id="@Id">
    <div @ref="Ref" class="mdc-checkbox mdc-checkbox--touch">
        <input id="@_inputId" type="checkbox" class="mdc-checkbox__native-control" />
        <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
        </div>
        <div class="mdc-checkbox__ripple"></div>
    </div>
    @if (Label != null)
    {
    <label for="@_inputId">@Label</label>
    }
</MdcFormField>