@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<a class="mdc-list-item @CssAttributes" href="@Href" aria-current="page">
    <span class="mdc-list-item__ripple"></span>
    <i class="@MdcCss.MaterialIcons mdc-list-item__graphic" aria-hidden="true">@Icon</i>
    <span class="mdc-list-item__text">@ChildContent</span>
</a>