@page "/lists"
<MdcHeadline6>Lists</MdcHeadline6>
<DemoComponent>
    <TopBar>
        <MdcTabBar @bind-ActiveTab="tab">
            <MdcTab Label="ONE-LINE LIST" />
            <MdcTab Label="TWO-LINE LIST" />
            <MdcTab Label="RADIO LIST" />
            <MdcTab Label="CHECKBOX LIST" />
            <MdcTab Label="GROUP LIST" />
        </MdcTabBar>
    </TopBar>
    <Content>
        <DemoComponentContainer @ref="demo">
            <div class="demo-border component-style">
                @if (tab == 0)
                {
                <MdcList ListType="MdcListType.SingleLine" @bind-SelectedIndex="index0">
                    <MdcListItem Label="Item 1" Icon="@iconBefore" />
                    <MdcListItem Label="Item 2" Icon="@iconBefore" />
                    <MdcListDivider />
                    <MdcListItem Label="Item 3" Icon="@iconBefore" />
                    <MdcListItem Label="Item 4" Icon="@iconBefore" />
                </MdcList>
                <p style="padding-left: 16px;">
                    <span>Selected index: @(string.Join(',', index0))</span>
                </p>
                }
                else if(tab== 1)
                {
                <MdcList ListType="MdcListType.TwoLine" @bind-SelectedIndex="index1">
                    <MdcListItem Label="Item 1" SecondaryLabel="Secondary item 1" />
                    <MdcListItem Label="Item 2" SecondaryLabel="Secondary item 2" />
                    <MdcListDivider />
                    <MdcListItem Label="Item 3" SecondaryLabel="Secondary item 3" />
                    <MdcListItem Label="Item 3" SecondaryLabel="Secondary item 4" />
                </MdcList>
                <p style="padding-left: 16px;">
                    <span>Selected index: @(string.Join(',', index1))</span>
                </p>
                }
                else if(tab== 2)
                {
                <MdcList ListType="MdcListType.RadioGroup" Name="group1" @bind-SelectedIndex="index2">
                    <MdcListItem Label="Item 1" />
                    <MdcListItem Label="Item 2" />
                    <MdcListItem Label="Item 3" />
                    <MdcListItem Label="Item 3" />
                </MdcList>
                <p style="padding-left: 16px;">
                    <span>Selected index: @(string.Join(',', index2))</span>
                </p>
                }
                else if(tab== 3)
                {
                <MdcList ListType="MdcListType.Checkbox" @bind-SelectedIndex="index3">
                    <MdcListItem Label="Item 1" />
                    <MdcListItem Label="Item 2" />
                    <MdcListItem Label="Item 3" />
                    <MdcListItem Label="Item 3" />
                </MdcList>
                <p style="padding-left: 16px;">
                    <span>Selected index: @(string.Join(',', index3))</span>
                </p>
                } 
                else 
                {
                <MdcListGroup>
                    <MdcListGroupSubHeader Label="Group 1" />
                    <MdcList>
                        <MdcListItem Label="Item 1" />
                        <MdcListItem Label="Item 2" />
                    </MdcList>
                    <MdcListDivider />
                    <MdcListGroupSubHeader Label="Group 2" />
                    <MdcList>
                        <MdcListItem Label="Item 3" />
                        <MdcListItem Label="Item 4" />
                    </MdcList>
                </MdcListGroup>
                }
            </div>
        </DemoComponentContainer>
    </Content>
    <TopOption>
        Options
    </TopOption>
    <Options>
        <MdcCaption>Before list text</MdcCaption>
        <MdcRadioGroup Name="before" Value="@beforeValue" ValueChanged="(x) => SetBefore(x)" >
            <MdcRadio Value="0" Label="None" />
            <MdcRadio Value="1" Label="Icon"  />
            <MdcRadio Value="2" Label="Avatar" />            
        </MdcRadioGroup>
        <MdcCaption>After list text</MdcCaption>
        <MdcRadioGroup Name="after" Value="@afterValue" ValueChanged="(x) => SetAfter(x)" >
            <MdcRadio Value="0" Label="None" />
            <MdcRadio Value="1" Label="Icon"  />
            <MdcRadio Value="2" Label="Text" />            
        </MdcRadioGroup>
    </Options>
</DemoComponent>

@code {
    int tab;
    DemoComponentContainer demo;
    int[] index0 = Array.Empty<int>();
    int[] index1 = Array.Empty<int>();
    int[] index2 = Array.Empty<int>();
    int[] index3 = Array.Empty<int>();

    string beforeValue = "0";
    string afterValue = "0";
    string iconBefore;
    string iconAfter;
    string avatar;
    string meta;

    void SetBefore(string value) 
    {
        beforeValue = value;
        iconBefore = (value == "1") ? "favorite" : null;
        avatar = (value == "2") ? "favorite" : null;        
    }

    void SetAfter(string value) 
    {
        afterValue = value;
        iconAfter = (value == "1") ? "favorite" : null;
        meta = (value == "2") ? "meta" : null;        
    }

}